/* copy of the file on innocenceproject.org
   any changes to this file should be made on both sites
*/
   
#portal-logo {
   display: inline-block;
   margin: 0 0 29px 1%;
   float: left;
}

#portal-globalnav {
   clear: both;
   font-size: 80%;
   margin: 0;
   background: #97330f;
}
#portal-globalnav li {
   display: inline-block;
   padding: 1.2em 0 0.7em;
   font-size: 11px;
   background: #97330f;
   white-space: normal;
   border-right: 1px solid #ffffff;
   width: 140px;
   width: calc(14.285% - 1px);
   text-align: center;
   margin-bottom: 1px;
}
#portal-globalnav li a {
   display: inline-block;
   color: #ffffff;
   text-transform: uppercase;
   padding: 0 0 5px;
   border-bottom: 1px solid transparent;
   background-color: transparent;
   border-right: none;
   min-width: 1px;
}
#portal-globalnav .selected,
#portal-globalnav li:hover {
   background: #97330f;
}
#portal-globalnav .selected a,
#portal-globalnav a:hover {
   color: #ffffff;
   border-bottom: 1px solid #ffffff;
   text-decoration: none;
   background-color: transparent;
   border-right: none;
}
#portal-globalnav #portaltab-get-involved, 
#portal-globalnav #portaltab-about-innocence-project {
   background-color: #000000;
}
#portal-globalnav #portaltab-donate {
   border-right: 0;
   width: 14.28%;
}

#portal-searchbox {
    float: right;
    text-align: left;
    clear: right;
    margin: 8px 1% 0 0;
    font-size: 80%;
}

#portal-searchbox form {
    white-space: nowrap;
}

#portal-searchbox label {
    font-weight: normal;
}

#searchGadget,
.portlet-search-gadget {
    width: 13em;
    border: 1px solid #cdcdcb;
    padding: 2px 30px 2px 10px;
    background: url('../images/search.png') no-repeat top right;
}
#content input.searchField {
    margin-bottom: 1em;
}
#portal-searchbox .searchButton,
.portletSearch .searchButton {
    border: none;
    background: transparent none;
    width: 22px;
    height: 20px;
    position: absolute;
    margin-left: -22px;
    text-indent: -99px;
    cursor: pointer;
}

#social-icons {
    float: right;
    margin: 9px 6px 0 0;
}
#social-icons a {
    display: inline-block;
    text-indent: -200px;
    overflow: hidden;
    width: 19px;
    height: 18px;
    background: url('../images/social.png') no-repeat top left;
    margin-right: 2px;
}
#social-icons .tw {
    background-position: -20px 0;
}
#social-icons .yt {
    background-position: -40px 0;
}
#social-icons .pin {
    background-position: -60px 0;
}
#social-icons .rss {
    background-position: -80px 0;
}

#nav-toggle,
#search-toggle {
    width: 30px;
    height: 30px;
    background: url('../images/toggles.png') no-repeat top left;
    display: none;
}
#search-toggle {
    background-position: top right;
}

#portal-footer {
    clear: both;
    font-size: 10px;
    background: #cb9822;
    padding: 1em 2em;
    margin: 2em 0 0;
    line-height: 2em;
}
#portal-siteactions {
    text-align: right;
    clear: left;
    padding-bottom: 0;
    font-size: 100%;
}
#portal-siteactions li {
    margin: 0 0 0 60px;
}
#portal-siteactions li a {
    color: #ffffff;
}
#portal-siteactions li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    
    #nav-toggle {
        display: inline-block;
        float: left;
        margin-right: 5px;
    }
    #portal-logo {
        margin: 0;
        overflow: hidden;
        height: 26px;
        border-bottom: 4px solid #000000;
    }
    #portal-logo img {
        margin-top: -5px;
    }
    #portal-globalnav {
        display: none;
    }
    #portal-globalnav li,
    #portal-globalnav #portaltab-donate {
        display: block;
        width: 100%;
    }
    #portal-breadcrumbs {
        padding-top: 10px;
    }
    input.searchPage {
        font-size: 100%;
    }
}
@media screen and (max-width: 530px) {
    #portal-logo {
        float: none;
        margin: 0 auto;
        width: 272px;
        display: block;
    }
    #search-toggle {
        display: inline-block;
        float: right;
    }
    #social-icons,
    #LSResult {
        display: none !important;
    }
    #portal-searchbox {
        display: none;
        width: 100%;
        margin-right: 0;
        float: none;
        clear: both;
        padding-top: 10px;
    }
    .LSBox {
        position: relative;
        width: 85%;
    }
    #searchGadget {
        width: 95%;
    }
    #portal-footer {
        padding: 0;
    }
    #portal-siteactions li {
        display: block;
        border-bottom: 1px solid #ffffff;
        margin: 0;
        text-align: center;
        padding: 8px 0;
    }
    #portal-siteactions li:last-of-type {
        border: none;
    }
    input.searchPage[type='text'] {
        width: 50%;
    }
}
@media screen and (max-width: 350px) {
    #portal-logo {
        height: 15px;
        width: 175px;
        border-top: 4px solid #000000;
        position: relative;
        top: 4px;
    }
    #portal-logo img {
        width: 175px;
    }
}
